@charset "utf-8";
/* CSS Document */
body {
padding:0;
margin:0;
font-family: "helvetica neue" , helvetica;
}

body {
	background-color:#C0C0C0;
	
}
header {
background-color: #d4e6f1;
position:fixed;
width:100%;
}
.htext {
color: #55fa08;
	text-decoration:none;
	font-size:24px;
	font:Georgia, "Times New Roman", Times, serif;}

.nav {
background-color:#405580;
list-style:none;
color: #f7340b ;
margin:0;
}
.nav > li {
display:inline-block;
padding:10px;

}
.nav > li > a {
font-size:20px;
color: #fdfefe ;

}
.ndec {
	text-decoration:none;
}
@media (max-width:600px) {
.nav {
text-align: right;
display:none;
margin-right:5px;
}
.nav > li {
display:block;
}
.nav-btn {
display:block;
background-color:#405580;
color:#fff;
font-size:27px;
text-align:right;
margin-right:5px;


}
.nav-btn:before {
content:"Menu";
}
}
